.BlogIndex .lander {
  padding: 80px 0;
  text-align: center;
}

.BlogIndex .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.BlogIndex .lander p {
  color: #999;
}

.BlogIndex .post-title {
  font-size: 2.8em;
}

.BlogIndex .post-body {
  font-size: 1.5em;
}

.BlogIndex .list-group-item {
  margin-bottom: 20px;
}