.NewPost form {
  padding-bottom: 15px;
}

.NewPost form textarea {
  height: 300px;
  font-size: 24px;
}

.NewPost form text {
  font-size: 24px;
}

.NewPost button {
  width: 40%;
}

.NewPost {
  width: 60%;
  margin: 0 auto;
}